:root 
{
    --branco-principal: #FFFFFF; /*variável CSS*/
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #6d6bf1;
}

body /*formatação padrão de tudo que estará no body*/
{
    background-color: var(--cor-de-fundo); /*função CSS*/
    color: var(--branco-principal);
    font-family: var(--fonte-principal); /*propriedade família da fonte*/
    font-size: 16px;
    font-weight: 400;
}

* /*seletor universal*/
{
    margin: 0;
    padding: 0;
}

.principal /*seletor de classes CSS*/
{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
}

.container
{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao
{
    background-color: var(--botao-azul); /*cor de fundo*/
    border-radius: 5px; /*dimensões da borda*/
    padding: 1em; /*espaçamento interno em relação à borda*/
    color: var(--branco-principal); /*cor da letra*/
    display: block;
    text-decoration: none; /*decoração do texto - retirando o sublinhado da frase*/
    margin-bottom: 1em; /*espaçamento externo em relação aos elementos do entorno*/
}

.container__botao:hover
{
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

.secundario__botao
{
    background-color: transparent;
    border: 2px solid var(--branco-principal); /*estilização da borda*/
}

.container__aviso
{
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo
{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem
{
    margin: 1em 0 2em 0; /*1em = topo; 0 = lado direito; 2em = fundo; 0 = lado esquerdo*/
}

.container__caixa
{
    margin: 0 6em; /*0 = topo e fundo; 6em = lado direito e esquerdo*/
}

.secundario__imagem
{
    width: 80%;
}

.secundario
{
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo
{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__paragrafo
{
    color: var(--cinza-secundario);
}

.terciario__botao
{
    display: inline-block;
    margin-top: 1em;
}

.container__descricao
{
    padding: 2em;
}

.dispositivos__lista
{
    display: flex; /*transforma a lista em um "flex container", que tem como padrão a direção de uma linha, ou seja, um ao lado do outro na horizontal*/
    justify-content: center;
    list-style-type: none; /*retirar os asteríscos da lista*/
    margin: 5em 0;
}

.dispositivos
{
    text-align: center; /*centraliza todos os elementos que estão em linha, ou seja, textos*/
}

.dispositivos__titulo
{
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item
{
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape
{
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista
{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.rodape__logo
{
    margin: 1em 0 1em 0;
}

.lista__link a /*selecionando o elemento "a" dentro do link*/
{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.lista__link a:hover /*pseudo-classe*/
{
    color: var(--botao-azul);
}

.lista__link a:active
{
    color: chocolate;
}

.rodape__paragrafo
{
    margin: 1.5em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}
